name: CI

on: [ push, pull_request ]

jobs:
  ci:
    permissions:
      contents: read
      pull-requests: write
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.11", "3.12", "3.13" ]
        os: [ ubuntu-latest ]
    defaults:
      run:
        shell: bash
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
      LANG: it_IT.UTF-8
      LC_ALL: it_IT.UTF-8
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Configure locale to it_IT.UTF-8
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          sudo locale-gen it_IT.UTF-8
          sudo update-locale LANG=it_IT.UTF-8

      - name: Install poetry
        uses: abatilo/actions-poetry@v4

      - name: Install dependencies
        run: |
          poetry install --no-interaction

      - name: Test with pytest
        run: |
          docker compose up -d
          poetry run pytest --cov --cov-report=html
          docker compose down

      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python -m pip install coveralls
          coveralls --service=github